#footer {
    background-color: #b6b6b6;
    margin: 0;
    position: sticky;
    bottom: 0;
    height: 4rem;
    color: yellow;
    @include flexbox(column, center, center);
    p{
        font-size: 1.2rem;
        text-shadow: 1px 1px 1px #222222;
    }
}