@use '../base/variables' as *;
@use '../base/mixins' as *;

.site-footer {
  border-top: 1px solid $color-border;
  background: #07101d;
  color: $color-muted;

  &__content {
    min-height: 94px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

  p { margin: 0; font-size: .82rem; }
  a { color: $color-primary-light; font-weight: 700; }
  a:hover { color: $color-text; }
}

@include mobile {
  .site-footer__content { min-height: 110px; align-items: flex-start; justify-content: center; flex-direction: column; padding-block: 22px; }
}
