body {
    font-family: "Roboto", sans-serif;
    
    .data-section{
        @include flexbox(column, space-evenly, flex-start);
        
        width: calc(80vw - 10rem);
        gap: 4rem;
        margin: 3rem auto;
        article{
            width: 100%;
        }
    }
}
