.form-section {
    @include flexbox(row, space-evenly, flex-start);
    flex-wrap: wrap;
    gap: 2rem;
    width: calc(80vw - 10rem);
    margin: 0 auto;
    margin-bottom: 3rem;
    form {       
        @include flexbox(column, space-between, stretch);
        width: 460px;
        height: 730px;
        margin: 1rem;
        border: 1px solid black;
        border-radius: 1rem;
        padding: 2rem;
        .form-group {
            width: 400px;
            margin-bottom: 10px;
            
            label {
                display: block;
                margin-bottom: 5px;
                width: 100%;
                padding: 2px 5px;
            }

            input,
            select {
                padding: 5px;
                width: 100%;
            }
        }

        button {
            padding: 10px 20px;
            background-color: #007bff;
            color: white;
            border: none;
            cursor: pointer;
            margin: 1rem 0;

            &:hover {
                background-color: #0056b3;
            }
        }
    }
}