table{
    thead{
        tr.table-tittle{
            text-align: center;
            color: #031053;
        }
    }
    tbody{
        tr{
            td.td-categoria{
                width: 90%;           
            }
        }
        
    }
}
